:root {
  /* --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, */
  /*   Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', */
  /*   'Segoe UI Symbol'; */
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: var(--tg-theme-secondary-bg-color, #ebedf0);
  --animation: 0.15s ease;
  --page-animation-duration: 0.3s;
  --page-animation: var(--page-animation-duration) ease;
  --status-height: 48px;
  --accent-color: #31b545;
  --main-color: #f8a917;
  --text-color: #222;
  --page-hint-color: #83878a;
  --hint-color: #74787a;
  --placeholder-color: #999da1;
  --ripple-duration: 0.45s;
  --ripple-end-duration: 0.3s;
}

* {
  color: var(--tg-theme-text-color);
}

body {
  background: var(--tg-theme-bg-color);
  /* font-family: var(--default-font); */
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--text-color);
  color-scheme: var(--tg-color-scheme);
  cursor: default;
}

.tg-hint {
  color: var(--tg-theme-hint-color);
}

.second_bg {
  color: var(--tg-theme-secondary-bg-color);
}

a {
  color: var(--tg-theme-link-color);
}

button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}
